@* Views/Usuario/_DeleteModal.cshtml *@
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirmar Cambio de Estado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="deleteForm" action="/Usuario/Estado" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" id="delete_Id" />
        <div class="modal-body">
          <p>¿Estás seguro de que deseas cambiar el estado de este usuario?</p>
          <div id="deleteUserInfo" class="row align-items-center">
            <div class="col-md-4">
              <div id="deleteImageContainer" class="text-center">
              </div>
            </div>
            <div class="col-md-8">
              <dl class="row mb-0">
                <dt class="col-sm-4">DNI:</dt>
                <dd class="col-sm-8" id="delete_DNI"></dd>

                <dt class="col-sm-4">Nombre:</dt>
                <dd class="col-sm-8"><span id="delete_Nombre"></span> <span id="delete_Apellido"></span></dd>

                <dt class="col-sm-4">Rol:</dt>
                <dd class="col-sm-8" id="delete_Rol"></dd>

                <dt class="col-sm-4">Estado:</dt>
                <dd class="col-sm-8" id="delete_EstadoActual"></dd>
              </dl>
            </div>
          </div>
          <p class="mt-3 text-center fs-5" id="deleteText">
            El usuario pasará a estar: <strong><span id="estadoText"></span></strong>.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn" id="deleteButton">Confirmar</button>
        </div>
      </form>
    </div>
  </div>
</div>